{extends file='basic.html'}
{block name='title'}创业者{/block}
{block name='body'}
<div class="row mb-3 text-center">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/bill.jpg' alt='微软创始人' height='370'/>
             <div class="card-block">
                 <h3 class="card-title">比尔·盖茨</h3>
                 <p class="card-text">微软创始人</p>
             </div>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/google.jpg' alt='谷歌创始人' height='370'/>
             <div class='card-block'>
                 <h3 class='card-title'>拉里·佩奇和谢尔盖布林</h3>
                 <p class='card-text'>谷歌创始人</p>
             </div>
         </div>
     </div>
</div>
<div class="row mb-3 text-center">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/boge.jpg' alt='脸书创始人' height='370'/>
             <div class="card-block">
                 <h3 class="card-title">马克·扎克伯格</h3>
                 <p class="card-text">脸书创始人</p>
             </div>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/jack.jpg' alt='Twitter创始人' height='370'/>
             <div class='card-block'>
                 <h3 class='card-title'>杰克·多西</h3>
                 <p class='card-text'>Twitter创始人</p>
             </div>
         </div>
     </div>
</div>
<div class="row mb-3 text-center">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/leijun.jpg' alt='小米创始人' height='370'/>
             <div class="card-block">
                 <h3 class="card-title">雷军</h3>
                 <p class="card-text">小米创始人</p>
             </div>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/liyanhong.jpg' alt='百度创始人' height='370'/>
             <div class='card-block'>
                 <h3 class='card-title'>李彦宏</h3>
                 <p class='card-text'>百度创始人</p>
             </div>
         </div>
     </div>
</div>
<div class="row mb-3 text-center">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/wangxing.jpg' alt='美团创始人' height='370'/>
             <div class="card-block">
                 <h3 class="card-title">王兴</h3>
                 <p class="card-text">美团创始人</p>
             </div>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/zhangyiming.jpg' alt='今日头条创始人' height='370'/>
             <div class='card-block'>
                 <h3 class='card-title'>张一鸣</h3>
                 <p class='card-text'>今日头条创始人</p>
             </div>
         </div>
     </div>
</div>
{/block}
