{extends file='basic.html'}
{block name='title'}互联网在北京{/block}
{block name='body'}
<div class="row text-center my-5">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/sina.jpg' alt='新浪' height='150'/>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/sohu.jpeg' alt='搜狐' height='150'/>
         </div>
     </div>
</div>
<div class="row text-center my-5">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/baidu.jpg' height='150'/>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/360.jpeg' height='150'/>
         </div>
     </div>
</div>
<div class="row text-center my-5">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/xiaomi.jpeg' height='150'/>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/jd.jpeg' height='150'/>
         </div>
     </div>
</div>
<div class="row text-center my-5">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/didi.jpeg' height='150'/>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/meituan.jpeg' height='150'/>
         </div>
     </div>
</div>
<div class="row text-center my-5">
     <div class="col-sm-6">
         <div class="card">
             <img class='card-img-center' src='/img/toutiao.jpeg' height='150'/>
         </div>
     </div>
     <div class='col-sm-6'>
         <div class='card'>
             <img class='card-img-top' src='/img/mobi.jpg' height='150'/>
         </div>
     </div>
</div>
{/block}
