{extends file='basic.html'}
{block name='title'}编程高手培训基地优势{/block}
{block name='body'}
<h3 class='my-5'>编程高手培训基地优势</h3>
<p class='ml-5'>1、师资优势：要求具备至少5年以上丰富的开发经验</p>
<p class='ml-5'>2、授课优势：小班面授，学校旁上课</p>
<p class='ml-5'>3、价格优势：起步阶段以建立口碑而非盈利为目的，培训费低至接近免费</p>
<p class='ml-5'>4、就业优势：免费提供简历优化指导，推荐就业</p>

<h3 class='my-5'>大学生参与编程高手培训基地课程可以获得</h3>
<p class='ml-5'>1、掌握一门新技术，抢先进入互联网这个高薪行业</p>
<p class='ml-5'>2、积累丰富实践经验，为后续专业理论课学习奠定基础</p>
<p class='ml-5'>3、在校期间即可通过兼职／外包赚取收入，实现“财务自由”</p>
<p class='ml-5'>4、毕业时拥有1-3年工作经验，轻松获取过万月薪，实现弯道超车</p>
<p class='ml-5'>5、成为新时代数字英雄的可能性大幅增加</p>
{/block}
