{extends file='basic.html'}
{block name='title'}实训项目知识点{/block}
{block name='body'}
<table class='table'>
    <tbody>
        <tr>
            <td><img class='circle' src='/img/ubuntu.jpg' width='50'/></td>
            <td>ubuntu</td>
            <td>最流行的linux操作系统</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/vim.jpg' width='50'/></td>
            <td>vim</td>
            <td>一款功能强大、高度可定制的文本编辑器</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/php.jpg' width='50'/></td>
            <td>php</td>
            <td>最流行的WEB后端开发语言</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/smarty.gif' width='50'/></td>
            <td>smarty</td>
            <td>最流行的PHP模版引擎</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/mysql.jpg' width='50'/></td>
            <td>mysql</td>
            <td>最流行的关系型数据库管理系统</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/bootstrap.jpg' width='50'/></td>
            <td>bootstrap</td>
            <td>一个很受欢迎的基于HTML/CSS/Jquery的前端框架</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/solr.jpg' width='50'/></td>
            <td>solr</td>
            <td>基于Java/Lucene的开源搜索引擎</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/nginx.png' width='50'/></td>
            <td>nginx</td>
            <td>高性能WEB服务器</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/git.jpg' width='50'/></td>
            <td>git</td>
            <td>最流行的免费开源分布式版本控制系统</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/composer.jpg' width='50'/></td>
            <td>composer</td>
            <td>PHP5代码库依赖管理工具</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/html5.jpg' width='50'/></td>
            <td>html5</td>
            <td>万维网核心语言的第5版</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/css3.jpg' width='50'/></td>
            <td>css3</td>
            <td>css层叠样式表的最新升级版</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/jquery.jpg' width='50'/></td>
            <td>jquery</td>
            <td>一个快速、简洁的JavaScript框架</td>
        </tr>
        <tr>
            <td><img class='circle' src='/img/phpstorm.jpeg' width='50'/></td>
            <td>phpstorm</td>
            <td>JetBrains 公司开发的一款商业的 PHP 集成开发工具</td>
        </tr>
    </tbody>
</table>
{/block}
