{extends file='basic.html'}
{block name='title'}授课老师尹兴平主要经历{/block}
{block name='body'}
<div class='media pt-5'>
    <img class='d-flex mr-5' src='/img/sina.jpg' width='200' height='100'/>
    <div class='media-body'>
        <h5>新浪网</h5>
        <p class='pt-3'>2003.09-2005.08</p>
        <p>新浪无线，手机游戏和应用开发</p>
        <p>主要技术：java web／j2me</p>

        <p class='pt-3'>2005.08-2007.01</p>
        <p>新浪爱问，无线搜索引擎开发</p>
        <p>主要技术：freebsd／apache／mysql／php／java／tomcat／wml</p>
    </div>
</div>
<div class='media pt-5'>
    <img class='d-flex mr-5' src='/img/3g.jpg' width='200' height='100'/>
    <div class='media-body'>
        <h5>3G门户</h5>
        <p class='pt-3'>2007.01-2010.10</p>
        <p>从零开始组建策略事业部<br/>从零开始搭建搜索品牌YY搜索</p>
        <p class='pt-3'>20人+产品和技术团队，150台+服务器<br/>日PV6300万+，日活跃用户120万+，月收入200万+</p>
        <p>招聘、面试、管理、运营全面负责的经验</p>
        <p>主要技术：rhel／apache／mysql／php／smarty／java／tomcat／wml／xhtml</p>
    </div>
</div>
<div class='media pt-5'>
    <img class='d-flex mr-5' src='/img/yuan.jpeg' width='200' height='100'/>
    <div class='media-body'>
        <h5>麦波网</h5>
        <p class='pt-3'>2010.11-2016.03</p>
        <p class='pt-3'>一段苦逼、失败的创业经历</p>
        <p>主要技术：ubuntu／nginx／mysql／redis／php／smarty／bootstrap／solr</p>
    </div>
</div>
<div class='media py-5'>
    <img class='d-flex mr-5' src='/img/yunniao.jpg' width='200' height='100'/>
    <div class='media-body'>
        <h5>云鸟</h5>
        <p class='pt-3'>2016.03.28-2017.04.06</p>
        <p>架构师，负责云鸟用户画像和推荐系统的设计和开发</p>
        <p>主要技术：centos／nginx／mysql／redis／ laravel／python／pig／jira／confluence／bitbucket<br/>
        </p>
    </div>
</div>
{/block}
