{extends file='basic.html'}
{block name='title'}招生条件、授课时间和费用{/block}
{block name='body'}
<h3 class='my-4'>第一期</h3>
<ul>
    <li>开课日期：2017年4月9日</li>
    <li>授课时间：<br/>
        周一、周三、周五晚上19:00-22:00<br/>
        周日上午09:00-12:00，下午14:30-18:30
    </li>
    <li>总课时：初定192个课时，根据实际上课进度可能会调整</li>
    <li>费用：原价7000元/人，优惠价3500元/人</li>
</ul><br/>
<h3 class='my-4'>第二期</h3>
<ul>
    <li>开课日期：待定</li>
    <li>授课时间：<br/>
        周二、周四、周六晚上19:00-22:00<br/>
        周六上午09:00-12:00，下午14:30-18:30
    </li>
    <li>总课时：初定192个课时，根据实际上课进度可能会调整</li>
    <li>费用：原价7000元/人，优惠价5000元/人</li>
</ul>
{/block}
