<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{block name='keywords'}{/block}">
    <meta name="description" content="{block name='description'}{/block}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/training.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>编程高手培训基地</title>
</head>
<body>
    <header class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom: 2em">
        <div class="container-fluid">
            <a class="navbar-brand"><h2>{block name='title'}编程高手培训基地{/block}</h2></a>
        </div>
    </header>
    <div class="container"><div class="row"><div class="col-12">
        {block name='body'}{/block}
    </div></div></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/training.js"></script>
</body>
</html>
